/*Sleepy Theme*/
h1{
  text-align: center;
  background-color: #00008B; 
  color: #808080;
  max-height: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #6495ED;
}

li {
  float: left;
}

li a {
  display: block;
  color: #0000FF;
  text-align: center;
  padding: 15px 15px;
}

li a:hover {
  background-color: #00008B;
}

p{
  text-align: center;
}
